.MainSection {
  padding: 100px 60px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  background: rgb(30, 30, 30);
  background-image: linear-gradient(
      rgba(15, 10, 10, 0.949),
      rgba(0, 0, 0, 0.285),
      rgba(15, 10, 10, 0.862)
    ),
    url("../../images/fakeflix-hero.jpg");

  height: fit-content;

  &_div {
    display: flex;
    flex-direction: row;
    height: fit-content;
  }

  &_right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 1000px;
    align-items: center;
  }
}
