.TopRatedList {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  height: fit-content;

  .TopRatedList_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 800px;
    padding-bottom: 10px;

    .topRatedStyle {
      display: flex;
      flex-direction: column;

      justify-content: center;
      position: relative;
      width: 200px;
      height: 300px;
      min-width: 200px;
      min-height: 50px;
      max-width: 290px;
      max-height: 50px;
      cursor: pointer;
      padding: 25px;
      border-radius: 20px;
      color: white;
      background-color: black;

      h3 {
        font-size: 15px !important;
      }
    }
  }
}
